flask 
sqlalchemy 
python-dotenv
alembic
fastapi 
uvicorn
python-jose 
passlib[bcrypt]
python-multipart
python-jose[cryptography]

langchain
langchain-community
langchain_groq
langchain_huggingface
pypdf
dotenv
ipykernel
sentence-transformers
chromadb
langchain_core
duckduckgo-search
langgraph